export("scSHC")
export("testClusters")
import(MASS)
import(Matrix)
import(dendextend)
import(BiocNeighbors)
import(parallel)
import(matrixStats)
import(data.tree)
importFrom(scry, devianceFeatureSelection)
importFrom(irlba, prcomp_irlba)
importFrom(RSpectra, eigs_sym)
importFrom(sfsmisc, posdefify)
importFrom(fastcluster, hclust)
